html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: : 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 50px;
  grid-gap: 5px
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

.bigItem {
  grid-area: 2 / 2 / 4 / 4;
  height: 50%;
  width: 50%;
  justify-self: center;
}
.gridContainer{
  display: grid;
  grid-template-rows: : 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
